* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}



.navigacia{
  width: 450px;
  display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
margin: 0px auto;
}

.navigacia .link{

font-size: 18px;
background-color: rgb(53, 27, 79);
color: rgb(255, 255, 255);
padding: 8px;
border-radius: 6px;
}


.fleqsi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.mainDiv {
  width: 400px;
  height: 450px;
  border: 2px solid green;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.mainDiv img {
  width: 350px;
  height: 320px;
  margin-left: 25px;
}
.pagi {
  width: 24px;
  height: 36px;
  background-color: blue;
  margin: 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 26px;
  text-align: center;
  cursor: pointer;
}

.divpagination {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
